/* Navbar */
.navbar {
  padding-block: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  font-weight: 900;
  font-size: 1.2rem;
}

.navbar__logo > span:last-of-type {
  color: #8878a5;
}

.navbar__navigation__content,
.navbar__navigation__auth {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

.navbar__navigation {
  display: none;
  flex-direction: column;
  background-color: white;
  font-size: 1rem;
  padding: 2rem 2rem;
  position: absolute;
  align-items: center;
  text-align: center;
  right: 5dvw;
  top: 100%;
  border-radius: 1rem;
  border: 1px solid #8878a5;
  color: #737373;
  font-weight: 600;
}

.navbar__navigation > ul:first-of-type {
  margin-bottom: clamp(0.5rem, 10vw, 2rem);
}

.navbar__navigation li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.navbar__navigation--visible {
  display: flex;
}

@media (min-width: 1050px) {
  .navbar {
    padding-block: 1.2rem;
    padding-inline: 10dvw;
    border-bottom: 1px solid #DAE2DF;
  }
  .navbar__navigation {
    flex: 1;
  }

  .navbar__logo {
    flex: 0.25;
  }
  .navbar__navigation {
    position: static;
    padding: 0;
    display: flex;
    border: none;
    background-color: none;
    justify-content: space-between;
  }

  .navbar__navigation__content,
  .navbar__navigation__auth,
  .navbar__navigation {
    flex-direction: row;
    align-items: center;
  }
  .navbar__navigation li {
    transition: 150ms ease-in;
  }
  .navbar__navigation li:hover {
    color: #313131;
  }

  .navbar__navigation__toggler {
    display: none;
  }

  .navbar__navigation > ul:first-of-type {
    margin-block: 0;
  }

  .navbar__navigation li:not(:last-of-type) {
    margin: 0;
    margin-right: clamp(1rem, 2vw + 0.5rem, 3rem);
  }
}
