/* Button */
.button--primary {
  display: block;
  background-color: #8878a5;
  border-radius: 10rem;
  border: 1px solid #5f5373;
  padding: 0.8rem 1.8rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  transition: 150ms ease-in;
}

.button--primary:hover {
  opacity: 0.5;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
.title img {
  width: 1.5rem;
}

.title h2 {
  margin-inline: 1rem;
}

.border-bottom {
  border-bottom: 1px solid #dae2df;
}
